{% extends 'Base/base.html.twig' %}

{% block title %}{{ 'The Project'|trans }} | {{ parent() }} {% endblock %}

{% block body %}
    <h1>The Project</h1>
    <div class="col">
        <div class="card float-md-end ms-md-2 mb-4" style="width: 18rem;">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href="#goals">Aims</a></li>
                <li class="list-group-item"><a href="#team">Project Team</a></li>
                <li class="list-group-item"><a href="#advisory-board">Academic Advisory Board</a></li>
                <li class="list-group-item"><a href="#history">Project History</a></li>
            </ul>
        </div>

        <p>
            Hakhshara as a Place of Remembrance is a joint project of the <a href="https://www.mmz-potsdam.de/en/" target="_blank">Moses Mendelssohn Center for European-Jewish Studies</a> (Potsdam) and the <a href="https://www.juedischejugendkultur.de/" target="_blank">DFG project “Between Aliyah and Escape: Jewish Youth Organizations and Zionist Education under the Nazi Regime and in pre-State Israel from 1933-1945”</a> (Braunschweig), together with the <a href="https://www.stiftung-denkmal.de/en/" target="_blank">Foundation Memorial to the Murdered Jews of Europe</a> (Berlin).
        </p>

        <h2 id="aims">Aims</h2>

        <p>The project has three aims:</p>
        <ol>
        <li>As a <a href="{{ path('about-network') }}"><b>network</b> project</a>, it serves to enable a transfer of knowledge amongst the often locally-based research of the individual Hakhshara sites. The network allows the sharing of expertise and experience, the development of cross-regional perspectives and the support of local initiatives.</li>
        <li>As a <a href="{{ path('site-map') }}"><b>database</b> project</a>, it offers in-depth information about the Hakhshara sites freely available to the public with this online portal. </li>
        <li>As <b>memorial</b> project, it develops concepts to make former Hakhshara sites more visible. The goal is to have commemorative signs set up on-site that will provide information about the specific history of the site, as well as general information about the Hakhshara movement.</li>
        </ol>

        <p>The project intends to commemorate the vocational training and re-training activities developed to prepare young Jews for emigration and Aliyah. It will also serve as a reminder of the lives, work and vitality of thousands of young people who were able to flee from Germany through these institutions, which were considered by many as “protective islands in the middle of the brown tide” (Michaeli/Klönne) according to descriptions of their Hakhshara experience in personal testimonies in the 1930s.  At the same time, the gradual destruction of Hakhsharot in Germany by the Nazis after the November Pogrom in 1938 and the transformation of Hakhshara sites into forced labor camps will be documented. It will also be reminded how the “protective islands” turned into sites where young people were forced into hard labor, where they starved, yearned for their families and for a future of their own and from where most of them were eventually deported to the extermination camps. </p>
        <p>Previous research on the Hakhshara has been largely carried out by local initiatives, academic projects, interested amateur historians and individual researchers. This project aims to connect these initiatives and collect scattered knowledge to increase public awareness of the topic and provide impulses for new initiatives. Indeed, there are many former Hakhshara sites that are still largely unexplored.  The network character of the project is intended to bring together information, enable intercommunication and involve a broader public. </p>
        <p>We are aware that not every site of a former Hakhshara center can be made into a museum. However, we are committed to ensuring that these sites remain accessible to the public so that the memory of the Hakhshara can be visible at the historical sites. Therefore, we want to work with local initiatives to develop prototypical concepts for making former Hakhshara sites visible. </p>
        <p>In the first phase, the project will focus on the Hakhshara institutions that existed in rural areas of the German Reich. The project aims to expand to include Hakhsharot in other places in Europe after 1933, as well as in West Germany after the war. To this end, the inclusion of researchers and initiatives outside of Germany is sought. Due to their large number and incomplete source material available so far, we have not yet included the training centers in the trades and home economics offered in many towns. </p>

        <h2 id="team">Project Team</h2>
        <dl>
            <dt>Project Management</dt>
            <dd><a href="https://www.tu-braunschweig.de/allg-paed/personal/upilar" target="_blank">Prof. Dr. Ulrike Pilarczyk</a> / <a href="https://www.mmz-potsdam.de/en/team/miriam-ruerup" target="_blank">Prof. Dr. Miriam Rürup</a></dd>

            <dt>Editorial Staff and Coordination</dt>
             <dd><a href="https://www.tu-braunschweig.de/allg-paed/personal/bergbauer" target="_blank">Knut Bergbauer</a> / <a href="https://www.mmz-potsdam.de/en/team/nina-zellerhoff" target="_blank">Nina Zellerhoff</a></dd>

            <dt>Technical Conception and Implementation</dt>
            <dd><a href="https://www.mmz-potsdam.de/en/team/daniel-burckhardt">Daniel Burckhardt</a></dd>

            <dt>Translation</dt>
            <dd>Margaret-Ann Schellenberg</dd>

            <dt>Design Advice</dt>
            <dd><a href="http://www.mareilebusse.de/">Mareile Busse</a></dd>
        </dl>

        <h2 id="advisory-board">Academic Advisory Board</h2>
        <ul class="bullet-inside">
            <li><a href="https://koebner.huji.ac.il/people/ofer-ashkenazi" target="_blank">Prof. Ofer Ashkenazi</a> (Hebrew University Jerusalem)</li>
            <li>Franziska Bogdanov (Jewish Museum Berlin)</li>
            <li>Dr. Verena Buser (Berlin)</li>
            <li><a href="http://www.steinheim-institut.de/wiki/index.php/Mitarbeiter:Harald_Lordick" target="_blank">Harald Lordick</a> (Steinheim Institute, Essen)</li>
            <li><a href="https://leobaeck.org/institutes-staff/?lang=en" target="_blank">Dr. Irene Aue-Ben-David</a> (Leo Baeck Institute, Jerusalem)</li>
            <li><a href="https://www.gdw-berlin.de/gedenkstaette/mitarbeiter-innen/" target="_blank">Dr. Christine Müller-Botsch</a> (German Resistance Memorial Center)</li>
            <li>Jim Tobias (NURINST, Nürnberg)</li>
        </ul>

        <h2 id="history">Project History</h2>
        <p>In February 2020, we received an e-mail from Arnold Bischinger (Neuendorf im Sande) informing us about the planned sale of Skaby, a former Hakhshara site near Spreenhagen.</p>
        <p>From the discussion about how to prevent historically significant Hakhshara sites becoming lost as visible places of remembrance through privatization sprung the idea for a project that would bring together local initiatives, amateur researchers and historians in a network. </p>
        <p>Therefore, in the spring of 2021, the project initiators contacted all historians and local initiatives on the history of the Hakhshara in German-speaking areas they knew. In June 2021, most of them came together in a first virtual workshop.</p>
        <p>The first result is the launch of this online portal in the fall of 2022. It will be supplemented by further entries on Hakhsharot in the coming months. We look forward to hearing feedback on current entries and would be very pleased about new contributions.</p>
    </div>
{% endblock %}
