{% extends 'Base/base.html.twig' %}

{% block body %}
    <h1>About this Website</h1>
        <p>Hakhsharah as a Place of Remembrance is a joint project of the der <a href="https://www.stiftung-denkmal.de/en/" target="_blank">Foundation Memorial to the Murdered Jews of Europe (Berlin)</a>, the <a href="https://www.mmz-potsdam.de/" target="_blank">Moses Mendelssohn Center for European-Jewish Studies (Potsdam)</a> and the <a href="https://www.juedischejugendkultur.de/" target="_blank">DFG-Project: National Jewish Youth Culture and Zionist Education in Germany and Palestine between the World Wars (Braunschweig)</a>.</p>

    <h2 id="contact">Contact</h2>
    <p>If you have any questions or suggestions, you can contact us via e-mail to <a href="mailto:info@hachschara-als-erinnerungsort.de">info@hachschara-als-erinnerungsort.de</a>.
    </p>

    <h2 id="imprint">Imprint</h2>
    <p>Moses Mendelssohn Center for European-Jewish Studies e. V.</p>
    <p>Am Neuen Markt 8<br />
    D-14467 Potsdam</p>

    <p>Tel.: +49 (0)331 - 280 94 - 0<br />
    Fax: +49 (0)331 - 280 94 - 50</p>

    <p>E-Mail: moses@mmz.uni-potsdam.de<br />
    Internet: www.mmz-potsdam.de</p>

    <p>Authorized person: Prof. Dr. Miriam Rürup</p>
    <p>Register Court: Amtsgericht Potsdam<br />
    Register Number: VR 1074</p>

    <p>Responsible for content according to § 6 MDStV: Daniel Burckhardt</p>

    <h2 id="data-protection">Privacy</h2>
    <p>This is an online offer of the Moses Mendelssohn Center for European-Jewish Studies e. V. (MMZ). The <a href="https://www.mmz-potsdam.de/en/contact/privacy">general data protection declaration of the MMZ</a> applies to the processing of all personal data arising in the course of the operation of this site.
    </p>
{% endblock %}
