{% extends 'Base/base.html.twig' %}

{% block body %}
    <h1>Über diese Website</h1>
    <p>Hachschara als Erinnerungsort ist ein gemeinsames Projekt der <a href="https://www.stiftung-denkmal.de/" target="_blank">Stiftung Denkmal für die ermordeten Juden Europas (Berlin)</a>, dem <a href="https://www.mmz-potsdam.de/" target="_blank">Moses Mendelssohn Zentrum für Europäisch-Jüdische Studien (Potsdam)</a> und dem <a href="https://www.juedischejugendkultur.de/" target="_blank">DFG-Projekt: Nationaljüdische Jugendkultur und zionistische Erziehung in Deutschland und Palästina zwischen den Weltkriegen (Braunschweig)</a>.</p>

    <h2 id="contact">Kontakt</h2>
    <p>Bei Fragen und Anregungen zum Projekt freuen wir uns über Ihre
    E-Mail an <a href="mailto:info@hachschara-als-erinnerungsort.de">info@hachschara-als-erinnerungsort.de</a>
    </p>

    <h2 id="imprint">Impressum</h2>
    <p>Moses Mendelssohn Zentrum für europäisch-jüdische Studien e. V.</p>
    <p>Am Neuen Markt 8<br />
    D-14467 Potsdam</p>

    <p>Telefon: +49 (0)331 - 280 94 - 0<br />
    Telefax: +49 (0)331 - 280 94 - 50</p>

    <p>E-Mail: moses@mmz.uni-potsdam.de<br />
    Internet: www.mmz-potsdam.de</p>

    <p>Vertretungsberechtigter Vorstand: Prof. Dr. Miriam Rürup</p>
    <p>Registergericht: Amtsgericht Potsdam<br />
    Registernummer: VR 1074</p>

    <p>Inhaltlich Verantwortlicher gemäß § 6 MDStV: Daniel Burckhardt</p>

    <h2 id="data-protection">Datenschutz</h2>
    <p>Dies ist ein Online-Angebot des Moses Mendelssohn Zentrums für europäisch-jüdische Studien e. V. (MMZ). Für die Verarbeitung aller personenbezogenen Daten, die im Zuge des Betriebs dieses Angebots anfallen, gilt die <a href="https://www.mmz-potsdam.de/datenschutz.html">allgemeine Datenschutzerklärung des MMZ</a>.</p>
{% endblock %}
