{% extends 'Base/base.html.twig' %}

{% import 'Shared/helper.html.twig' as helper %}

{% block head %}
    <style>
        .tooltip {
            font-family: inherit;
            border-radius: 0;
        }

        .tooltip.top, .tooltip.bottom {
            padding: 0px 0;
        }

        .tooltip-inner {
            text-align: left;
            max-width: 400px;
            color: black;
            background-color: white;
            border-radius: 0;
        }

        .tooltip.in {
            opacity: 1;
            filter:alpha(opacity=100);
        }
    </style>
{% endblock %}

{% block body %}
    {{ helper.breadcrumb([ { route: 'blog-index', label: 'News'}, { label: date(post['date'])|date('F d, Y'|trans) } ]) }}

    <div class="col-12">
        <h1 class="detail">{{ post['title']['rendered']|raw }}</h1>

        <div class="entry-content">
            {% if post['media_url'] is defined and post['media_url'] is not empty %}
                <img src="{{ post['media_url']['source_url'] }}" style="max-width: 100%; height: auto; margin-bottom: 1em;" />
            {% endif %}
            {{ post['content']['rendered']|raw }}
            <script>
                $(function () {
                    $('[data-toggle="tooltip"]').tooltip({
                        html: true,
                        placement: 'auto bottom'
                    });
                });
            </script>
        </div>
    </div>
{% endblock %}
